*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
}

header{
    height: 500px;
    flex-direction: column;
}

nav{
    height: 10%;
    width: 100%;
    background-color: #add8e6;
}

.box{
    height: 30px;
    width: 1000px;
    background-color: #DAA520;
    margin: auto;
    padding-inline: 10px;
    border: 3px dotted black;
    display: flex;
    /* justify-content: space-between; */

}

.gold-span1{
    background-color: #DAA520;
    height: 100%;
    width: 20%;
    padding: 2px;
    border-right: 3px dotted black;
}

.gold-span2{
    background-color: #DAA520;
    height: 100%;
    width: 20%;
    text-align: end;
    padding: 2px;
}

.big{
    background-color: #DAA520;
    height: 100%;
    width: 60%;
    text-align: center;
    border-right: 3px dotted black;
    padding: 2px;
}

.sub-nav{
    height: 90%;
    width: 100%;
    background-color: #00008B;
}

.sub-box{
    width: 800px;
    height: 350px;
    background-color: #EE82EE;
    margin: auto;
    border: 3px dotted black;
}

section{
    height: 500px;
}

.grey{
    background-color: #D3D3D3;
}

.max{
    max-width: 1000px;
    height: 100%;
    margin-inline: auto;
    padding: 20px 0;
}

.max-grey{
    flex-direction: row-reverse;
    max-width: 1000px;
    height: 100%;
    margin-inline: auto;
    padding: 20px 0
}

.content1{
    height: 100%;
    background-color: #1E90FF;
    flex: 0 1 70%;
}

.content2{
    height: 100%;
    background-color: #FFC0CB;
    flex: 0 1 30%;
}

.grey-big{
    height: 800px;
    background-color: #D3D3D3;
}

.content-green{
    background-color: #228B22;
    height: 100%;
    flex: 0 1 100%;
}

footer{
    background-color: #23272A;
    height: 400px;
}

.container-max {
    display: flex;
    height: 85%;
    max-width: 1000px;;
    margin-inline: auto ;
    padding: 20px 0;
    border: 1px solid black;
}

.pink{
    background-color: #F08080;
    flex: 0 1 30%;
}

.cyan{
    background-color: #20B2AA;
    flex: 0 1 17.5%;
    border: 1px solid black;
}

.container-min{
    display: flex;
    height: 15%;
    max-width: 1000px;;
    margin-inline: auto ;
    align-items: flex-end;
}

.box-bottom{
    height: 35px;
    width: 1000px;
    background-color: #7FFFD4;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pink-span{
    font-size: 0.8rem;
    background-color: #FFB6C1;
    border: 1px solid black;
}